#text-div{
    width: 80%;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 600;
    color: var(--btn-color);
    margin-bottom: 1.5rem;
}

#title-txt{
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
}

.image{
    width: 90%;
    height: 70rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rectangle-text{
    width: 30%;
    min-width: 26rem;
    height: 5rem;
    padding: 0 5px;
    margin: 0 auto;
    position: relative;
    top: -2rem;
    display: grid;
    place-items: center;
    text-align: center;
    background-color: var(--btn-color);
    color: #fff;
}

.img-title{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 600;
}