*,::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}


#message-section{
    width: 100%;
    height: 70rem;
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#message-section img{
    width: 100%;
    height: inherit;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.99;
}

#message{
    position: relative;
    left: 15%;
}

#message h2{
    font-size: 5rem;
    font-weight: 400;
}

#message h1{
    font-size: 8rem;
    font-family: serif;
    letter-spacing: 5px;
}

#message p{
    font-size: 3rem;
}

.head-upper{
    text-transform: uppercase;
}

#rooms-section{
    width: 100%;
    height: auto;
    margin: 5rem 0;
    display: grid;
    grid-template-columns: minmax(20rem, 60%) minmax(20rem, 40%);
    column-gap: 2rem;
}

#grid-img{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    align-items: center;
}

#grid-img1{
    width: 30rem;
    height: 50rem;
}

#grid-img2{
    width: 25rem;
    height: 43rem;
}

#wrap-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#wrap-txt h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}

#wrap-txt p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.book-btn{
    width: 10rem;
    padding: 10px;
    background-color: var(--btn-color);
    border: none;
    color: #fff;
}

.btn-link{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

#luxury-rooms{
    width: 100%;
    height: auto;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#luxury-rooms h2{
    font-size: 3rem;
    font-family: serif;
    margin-bottom: 1rem;
}

#luxury-rooms p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#grid-rooms{
    width: 100%;
    height: auto;
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(4, 20rem);
    justify-content: center;
    column-gap: 2rem;
}

.room-card{
    width: 100%;
    height: 25rem;
    background-color: var(--background-color1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room-img{
    width: 100%;
}

.room-info{
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    padding-left: 1rem;
}

.room-class{
    font-size: 1.6rem;
    font-weight: 600;
}

#last-section{
    width: 100%;
    height: 50rem;
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
}

#luxury-room{
    width: 100%;
    height: inherit;
    position: absolute; 
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}

#last-section h2{
    font-size: 6rem;
    font-family: serif;
    color: #fff;
    position: relative;
    top: 30%;
    font-weight: 400;
}

footer{
    width: 100%;
    height: 3rem;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    width: 30%;
    height: inherit;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 7px;
}

/* Stylos iconos */
i{
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}