*,::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
}

#pattern-div-aside{
    display: flex;
    flex-direction: row;
}

#admin-sidebar{
    width: 30rem;
    height: auto;
    min-height: 967rem;
    background-color: #f1f1f1;
    position: fixed;
}

#div-admin-company{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 5rem;
}

#div-admin-company img{
    width: 5rem;
}

#div-admin-company h2 , a{
    margin: auto;
    padding: 1rem;
    font-size: 2.5rem;
    text-align: center;
    text-decoration: none;
    color: #000;
}

#nav-admin{
    position: static;
    margin: auto;
    padding: 0 4.5rem;
    text-align: start;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60rem;
}

.admin-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
    border-radius: 10px;
}

.admin-nav-link::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--btn-color);
    transition: 0.5s ease;
}

.admin-nav-link:hover:after{
    width: 100%;
    cursor: pointer;
}

#i-nav-admin{
    margin: 1rem 0 0 3rem;
    font-size: 2rem;
    color: #343434;
}

.admin-nav-ul{
    width: 100%;
    height: auto;
    margin-top: 3rem;
    list-style: none;
}

.admin-nav-link{
    color: #343434;
    text-decoration: none;
    font-size: 2rem;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    display: grid;
}

#workpace{
    margin: 0 30rem;
}

.tittle-work{
    margin-left: 6rem;
    margin-top: 6rem;
    font-size: 33px;
}

.nuevo a{
    display: inline-block;
    padding: 7px;
    margin-top: 10px;
    margin-left: 60px;
    text-decoration: none;
    color: rgb(139, 255, 24);
    border: 1px solid rgb(139, 255, 24);
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}

.nuevo a:hover{
    background: rgb(139, 255, 24);
    color: #fff;
}

/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
    padding-left: 5rem;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}

.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	
	cursor: default;
}

.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}

.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}

.btn-workpace{
    margin: 3rem;
    display: flex;
    flex-direction: row;
}

.btn-workpace a input{
    font-size: 2rem;
    padding: 1rem 2rem;
    background-color: #55aaff;
    border: 1px solid #000;
    cursor: pointer;
}

.workpace-room{
    margin: 5rem;
    padding: auto;
}

.workpace-room h2{
    font-size: 3rem;
    font-weight: 600;
}
