@import url(../styles/vars.css);

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
}

#code{
    padding: 4rem 0;
}

#code h1, #code h2{
    color: black;
    margin-bottom: 2rem;
}

#code h3:not(.user-info){
    width: 100%;
    text-align: center;
    font-size: 4rem;
    margin-top: 4rem;
    color: var(--btn-color);
}

#info-re{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    color: black;
}

.book-btn{
    width: 10rem;
    padding: 10px;
    background-color: var(--btn-color);
    border: none;
    color: #fff;
}

.btn-link{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}