/*
*,::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
}

#pattern-div-aside{
    display: flex;
    flex-direction: row;
}

#admin-sidebar{
    width: 30rem;
    height: 100%;
    min-height: 93rem;
    background-color: #f1f1f1;
}

#div-admin-company{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 5rem;
}

#div-admin-company img{
    width: 5rem;
}

#div-admin-company h2 , a{
    margin: auto;
    padding: 1rem;
    font-size: 2.5rem;
    text-align: center;
    text-decoration: none;
    color: #000;
}

#nav-admin{
    margin: auto;
    padding: 0 4.5rem;
    text-align: start;
}

.admin-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
    border-radius: 10px;
}

.admin-nav-link::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--btn-color);
    transition: 0.5s ease;
}

.admin-nav-link:hover:after{
    width: 100%;
    cursor: pointer;
}

#i-nav-admin{
    margin: 1rem 0 0 3rem;
    font-size: 2rem;
    color: #343434;
}

.admin-nav-ul{
    width: 100%;
    height: auto;
    margin-top: 3rem;
    list-style: none;
}

.admin-nav-link{
    color: #343434;
    text-decoration: none;
    font-size: 2rem;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    display: grid;
}


 
h1{
    
     margin: 5rem;
     font-size: 33px;
 }


/*tabla*/
/*
table{
    margin:3rem ;
   
    text-align: center;
    color: #000000;
}
td{
    padding: 2.5rem;
}

.section{
    padding-left: 7rem;
}
/*head tabla*/
/*
.head{
    background:  #e3261c;
}
/*eLIMINAR*/
/*
.eliminar a{
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(255, 19, 19);
    border: 1px solid rgb(255, 19, 19);
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
    font-size: 15px;
}
.eliminar a:hover{
    background: rgb(255, 19, 19);
    color: #fff;
}
/*actualizar*/
/*
.actualizar a{
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(252, 231, 0);
    border: 1px solid rgb(252, 231, 0);
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
    font-size: 15px;
}
.actualizar a:hover{
    background: rgb(252, 231, 0);
    color: #fff;
}





label{
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300;
    color: #7a7a7a;
}

input[type="text"],
input[type="password"]{
    width: 100%;
    height: 30px;
    background: rgba(0,0,0,0);
    border: 0px;
    outline: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    font-size: 18px;

}

input[type="submit"]{
    width: 75%;
    height: 50px;
    margin: 50px;
    color: rgb(68, 255, 99);
    background-color: #fff;
    border: 3px solid rgb(84, 255, 68);
    font-weight: 300;
    cursor: pointer;
    font-size: 18px;
}
.form{
    padding-top: 13rem;
    padding-left: 7rem;
}
input[type="submit"]:hover {-webkit-transform:scale(0.97);transform:scale(0.97);}
input[type="submit"]:hover{
    color: white;
    background-color: rgb(105, 255, 68);
}
input[type="submit"] {overflow:hidden;}

input[type="submit"]:hover {
    transition:1s;
  }
  input[type="submit"]{
    transition:1s;}
hr{
    size: 50%;
    width: 4px;
    background: #000;
}